.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
}

.grid img {
  width: 100%;
}

.center {
  display: flex;
  padding: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  .grid-one,
  .grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-two img {
    grid-column: 2;
    grid-row: 1;
  }
}
