.grid {
  display: grid;
  grid-template-columns: 1fr;

  margin-bottom: 100px;
}

.grid img {
  width: 100%;
}

.center {
  display: flex;
  padding: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

