.section-six {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.join-us,
.go-vegan {
  min-width: 350px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: 0.5px;
}

.go-vegan {
  background-image: url("../../images/vegan.jpg");
}

.join-us {
  background-image: url("../../images/join.jpg");
}

.bg-color {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 0 16px 30px 16px;
  text-align: center;
}

.bg-color button {
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.bg-color button a {
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

@media (min-width: 750px) {
  .section-six {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}
