@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@900&display=swap");

.nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  font-family: "Biryani", sans-serif;
  font-weight: 200;
  height: 60px;
  align-items: center;
  padding-left: 1rem;
}

.logo {
  width: 60px;
  display: flex;
}

.logo img {
  width: 100%;
}

.menu-container {
  width: 60px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: pointer;
}

.menu-lang {
  width: 60px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: pointer;
}

.menu-container {
  position: absolute;
  right: 0;
}

.menu-lang {
  background-color: var(--primary-color);
  position: absolute;
  right: 60px;
}

.menu-button span,
.menu-lang span {
  display: flex;
  align-items: center;
}

.menu-button span i,
.menu-lang span i {
  font-size: 24px;
  color: white;
}

.nav-content {
  position: absolute;
  width: 100%;
  background-color: white;
  left: 0;
  right: 0;
  top: 60px;
  max-height: 80vh;
  display: none;
}

.menu-lang-content {
  position: absolute;
  width: 100%;
  background-color: white;
  left: 0;
  right: 0;
  top: 60px;
  max-height: 80vh;
  display: none;
}

.lang-inner {
  background-color: rgba(128, 128, 128, 0.112);
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 16px;
  gap: 10px;
}

.lang-inner button {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-family: "Biryani", sans-serif;
  cursor: pointer;
  padding-top: 3px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.nav-container-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.112);
}

.menu-name a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}

.icon {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon span {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.donate-btn {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: black;
  padding: 8px 4px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

@media (min-width: 800px) {
  .menu-lang {
    z-index: 50;
  }
  .nav {
    grid-template-columns: auto 1fr auto;
  }

  .menu-container {
    display: none;
  }

  .flex {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    height: 60px;
    align-items: center;
  }

  .nav-content {
    display: flex;
    background-color: transparent;
    top: 0;
    align-items: center;
    width: auto;
  }

  .nav-container .icon {
    display: none;
  }
  .nav-container-inner {
    background-color: transparent;
    width: auto;
  }

  .menu-name a {
    text-transform: none;
  }

  .menu-lang {
    right: 0;
    cursor: pointer;
  }

  .lang-inner {
    padding: 0 10px 0 10px;
  }
}

.nav-content.show {
  display: block;
}
.menu-lang-content.drop {
  display: block;
}
