@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600&display=swap");

#root {
  --primary-color: #d90305;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Biryani", sans-serif;
}

button {
  cursor: pointer;
}

button a {
  text-decoration: none;
}

h2 {
  font-family: "Ruda", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
  position: relative;
}

h2:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background-color: var(--primary-color);
  bottom: -3px;
  left: 0;
  right: 0;
  margin: auto;
}

p {
  font-family: "Biryani", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  font-family: "Ruda", sans-serif;
  font-size: 50px;
  color: white;
  letter-spacing: 1px;
}

.overlay {
  height: calc(100vh - 60px);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 10;
}