@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600&display=swap");

#root {
  --primary-color: #d90305;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Biryani", sans-serif;
}

button a {
  text-decoration: none;
}
